@media screen and (min-width:1024px) {
     //NAVBAR
     .navbar {
          display: flex;
          margin-top:0;
          //LEFT
          &-left {
               //LOGO
               display: flex;
               flex-direction: row;
               align-items: center;
               &-logo {
                    img {
                         width: 100px;
                         display: block;
                    }
               }
               
               //SEARCH
               &-search {
                    form {
                         display: flex;
                         input {
                              background-color: rgba($color: #ccc, $alpha: 0.3);
                              &:first-child {
                                   border-radius: .5rem 0 0 .5rem;
                                   border-right: 1px solid rgb(204, 74, 74);
                              }
                              &:last-child {
                                   border-radius: 0;
                              }
                              &:focus {
                                   outline: none;
                              }
                         }

                         &.active{
                              display: flex;
                         }
                    }
                    p {

                         width: 38px;
                         height: 38px;
                         border-radius: 0 100% 100% 0;
                         &.active {
                              border-radius: 0 .5rem .5rem 0;
                         }
                        
                    }
               }
          }
          &-right {
               &-list {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: center;
                    list-style: none;
                    margin: 0!important;
                    padding: 0!important;
                    li {
                         a {
                              transition: all .1s ease-in-out;
                              display: block;
                              padding: 0.7rem 1rem;
                              color: $dark-color;
                              //hover
                              &:hover {
                                   border-bottom: 2px solid $danger-color;
                                   color: rgba($color: $danger-color, $alpha: .7);
                              }
                         }
                         &:last-child {
                              a {

                                   i {
                                        color: rgba($color: $dark-color, $alpha: .6);
                                        font-size: 1.3rem;
                                   }
                                   
                              }
                         }
                         
                    }
                    //Tablet
               }
               //HUMBURGER - mobile
               &-humburger {
                    display:none;
               }

          }
     }

     //MAIN
     .main {
       
          .container {
               max-width: 80vw;
               margin: 100px auto;
               padding: 0 1rem;
               margin-top: 15px;
              
               //HEADER
               .header {
               }
               //BODY - CONTENT
               .main-content {
                    grid-template-columns: 1fr 3fr;
                    //RIGHT
                    &-right {
                        display: block;
                        & > * {
                             margin-bottom: 1rem;
                        }
                         &-parcours {
                              &-inner {
                                   grid-template-columns: 3fr 1fr;
                                   
                                   height: auto;
                                   &-left {
                                        
                                        .level {

                                             border-right: 2px solid $grey-color;
                                             padding-right: .5rem;
                                             
                                             &-profile {
                                                  display: grid;
                                                  grid-template-columns: repeat(2,1fr);
                                                  grid-gap: 1rem;

                                             }
                                        }

                                   }

                                   &-right {
                                        padding: .5rem 0;
                                   }
                              }
                         }
                    }
               }
          }
     }

     //FOOTER
     .footer {
          &-inner {
               grid-template-columns: repeat(4,1fr);
          }
     }
}