//Google font - Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400&display=swap');

* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: roboto, 'sans-serif';
}
body {
     background-color: $grey-color;
}
.container {
     max-width: 100vw;
     padding: 0 1rem;
}

p {
     font-size: 16px;
}

a{
     text-decoration: none;
}