//NAVBAR
.navbar {
     width: 100vw;
     padding: .5rem;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     background-color: $white-color;
     position: fixed;
     margin-top: -5px;
     z-index: 1;
     //LEFT
     &-left {
          //LOGO
          display: flex;
          flex-direction: row;
          align-items: center;
          &-logo {
               img {
                    width: 100px;
               }
          }

          //SEARCH
          &-search {
               margin-left: 1rem;
               display: flex;
               flex-direction: row;
               align-items: center;
               form {
                    display: none;
                    flex-direction: row;
                    align-items: center;
                    input {
                         padding: .7rem;
                         border: 0;
                         background-color: rgba($color: #ccc, $alpha: 0.3);
                         &:first-child {
                              border-radius: .5rem 0 0 .5rem;
                              
                         }
                         &:last-child {
                              border-radius: 0;
                         }
                    }
                    

                    &.active{
                         display: flex;
                    }
               }
               p {
                    width: 39px;
                    height: 39px;
                    border-radius: 100%;
                    background-color: rgba($color: #ccc, $alpha: 0.3);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    &.active {
                         border-radius: 0 .5rem .5rem 0;
                    }
                    i {
                         font-size: 18px;
                    }
               }
          }
     }
     &-right {
          &-list {
               display: none;
               //Tablet
          }
          //HUMBURGER - mobile
          &-humburger {
               width: 40px;
               height: 40px;

               display: flex;
               justify-content: center;
               align-items: center;
               border-radius: .3rem;               
               padding: .2rem;
               overflow: hidden;

               span {
                    display: block;
                    width: 50px;
                    height: 5px;
                    background-color: #000;
                    position: relative;

                    &::after{
                         content: " ";
                         position: absolute;
                         left: 0;
                         top: 10px;
                         width: 50px;
                         height: 5px;
                         background-color: #000;
                    }
                    &::before {
                         content: " ";
                         position: absolute;
                         left: 0;
                         top: -10px;
                         width: 50px;
                         height: 5px;
                         background-color: #000;
                    }
               }
          }

     }
}

//
.main {
     padding-top: 55px;
     .radius {
          border-radius: .5rem;
          box-shadow: 0 0 8px 0 rgba($danger-color,.05);
          //overflow: hidden;
          background-color: $white-color;
          padding: .5rem;
     }
     .container {
          padding: 0;
          //HEADER
          .header {
               background-color: $white-color;
               padding: 1rem;
               border-radius: .3rem;
               border-left: 8px solid $success-color;
               h4 {
                    font-size: 1.2rem;
               }
               p {
                    font-size: 1rem;
                    color: $paragraph-color-grey
               }
               a {
                    text-decoration: none;
                    color: $primary-color;
                    cursor: pointer;
               }
          }

          //BODY - CONTENT
          .main-content {
               padding-top: 1rem;
               display: grid;
               grid-template-columns: 1fr;
               grid-template-rows: auto;
               grid-gap: 1rem;
               //TITLE
               .main-title {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    padding: 1rem 0;
                    a {
                         color: $primary-color;
                         font-size: .9rem;
                    }
                    h4 {

                         font-size: 1.2rem;
                    }
               }
               //LEFT
               &-left {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-gap: 1rem;
                    max-width: 100vw;
                    //PROFILE
                    &-autor {
                         padding: 1.2rem 1rem;
                         & > * {
                              margin: .5rem 0;
                         }
                         .autor-title {
                              &.title {
                                   font-size: 1.2rem;
                              }
                              &-disponible{
                                   display: flex;
                                   align-items: center;
                                   i {
                                        color: $success-color;
                                   }
                                   small {
                                        padding: 0 .3rem;
                                   }
                              }
                         }
                         p {
                              color: $paragraph-color-grey;
                             &.picture {
                                   width: 50px;
                                   height: 50px;
                                   border-radius: 100%;
                                   overflow: hidden;
                                   display: flex;
                                   justify-content: center;
                                   align-items: center;
                                  img {
                                      position: relative; 
                                      width: 250%;
                                      left: -6px;
                                      top: -5px;
                                  }
                             }
                         }
                         a {
                              color: $primary-color;
                         }
                    }
                    //VISIBILITY
                    &-visibility {
                         padding: 1rem;
                         //
                         .statistics {
                              background-color: $grey-color;
                              margin-bottom: .6rem;
                              border-radius: .3rem;
                              padding: .7rem;
                              display: flex;
                              flex-direction: row;
                              grid-gap: 1rem;
                              p {
                                   strong {
                                        color: $primary-color;
                                   }
                              }
                              i {
                                   font-size: 1.3rem;
                                   color: $primary-color;
                              }
                         }
                    }

                    //ENTERPRISES
                    &-enterprises {
                         padding: 1rem;
                         div + div {
                              border-bottom: 1px solid $grey-color;
                              padding: .5rem 0;
                              label {
                                   font-size: 1rem;
                              }
                              a {
                                   line-height: 1.6;
                                   display: flex;
                                   flex-direction: row;
                                   justify-content: space-between;
                                   align-items: center;
                                   color: $primary-color;
                                   font-size: 0.9rem;
                                   &:hover {
                                        span {
                                             text-decoration: underline;
                                        }
                                   }
                              }
                         }
                         & > a {
                              display: block;
                              margin: 1rem 0 .5rem 0;
                              color: $primary-color;
                              text-align: center;
                         }
                    }
               }

               //RIGHT
               &-right {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-gap: 1rem;
                    & >* {
                         padding: 1rem;
                    }
                    &-parcours {
                         &-inner {
                              display: grid;
                              grid-template-columns: 1fr;
                              //grid-template-columns: 3fr 1fr;

                              grid-gap: .5rem;
                         
                              &-left {
                                   
                                   .level {

                                        //border-right: 2px solid $grey-color;
                                        //padding-right: .5rem;
                                        &-range {
                                             position: relative;
                                             display: flex;
                                             flex-direction: column;
                                             background-color: rgba($primary-color, .1);
                                             padding: 1.2rem;
                                             border-radius: .5rem;

                                             .range {
                                                  border-radius: .3rem;
                                                  background-color: $light-color;
                                                  height: 15px;
                                                  overflow: hidden;
                                                  span {
                                                       display: block;
                                                       width:30%;
                                                       height: 20px;
                                                       background-color: $primary-color;
                                                  }
                                             }

                                             &-points {
                                                  display: flex;
                                                  flex-direction: row;
                                                  justify-content: space-between;
                                                  margin-top: .5rem;
                                                  span {
                                                       font-size: .7rem;
                                                  }
                                             }
                                        }
                                        
                                        & > * {
                                             margin: .5rem 0;
                                        }
                                        &-profile {
                                             display: grid;
                                             grid-template-columns: 1fr;
                                             //grid-template-columns: repeat(2,1fr);
                                             .left {
                                                  p {
                                                       padding: .5rem;
                                                       background-color: $grey-color;
                                                       margin-bottom: .3rem;
                                                       border-radius: .3rem;
                                                       font-size: .8rem;
                                                       display: flex;
                                                       flex-direction: row;
                                                       justify-content: space-between;
                                                       align-items: center;
                                                  }

                                             }

                                             .right {
                                                  background-color: $grey-color;
                                                  padding: 1.5rem 1rem;
                                                  text-align: center;
                                                  line-height: 1.8;
                                                  border-radius: .3rem;
                                                  p {
                                                       font-size: .8rem;
                                                       &:first-child{
                                                            text-transform: uppercase;
                                                       }
                                                       &:last-child {
                                                            margin-top: .7rem;
                                                            line-height: 1.2;
                                                       }
                                                  }
                                                  span {
                                                       background-color: rgba($color: $success-color, $alpha: .5);
                                                       padding: .3rem;
                                                       border-radius: .3rem;
                                                       font-size: .7rem;
                                                  }
                                             }

                                        }
                                   }

                              }

                              &-right {
                                   //padding: 1rem 0;
                                   .step {
                                        background-color: $grey-color;
                                        padding: .5rem;
                                        border-radius: .3rem;
                                        text-align: center;
                                        &>* {
                                             font-size: .8rem;
                                        }
                                        p {
                                             margin-bottom: .5rem;
                                        }
                                        a {
                                             color: $primary-color;
                                        }
                                   }
                              }
                         }
                    }

                    //Notify
                    &-notify {
                    }
                    
                    //revenu
                    &-revenus {
                         
                    }
               }
          }


     }
}

//FOOTER
.footer {
     padding: 1rem 0;
     .container {
          padding: 0;
     }
     &-inner {
          display: grid;
          grid-template-columns: 1fr;
          grid-gap: 1rem;
          &-list {
               background-color: $white-color;
               padding: 1rem;
               border-radius: .5rem;
               box-shadow: 0 0 8px 0 rgba($danger-color,.05);

               h3 {
                    font-size: 1.3rem;
                    text-align: center;
               }
               ul {
                    list-style: none;
                    li {
                         line-height: 1.6;
                         a {
                              color: $dark-color;
                              cursor: pointer;
                              &:hover {
                                   text-decoration: underline;
                              }
                         }
                    }
               }
          }
     }
}