$grey-color :#ECEFF1;
$white-color: #fff;
$primary-color:#1266F1;
$secondary-color:#B23CFD;
$success-color: #00B74A;
$danger-color:#F93154;
$warning-color:#FFA900;
$info-color:#39C0ED;
$light-color:#FBFBFB;
$dark-color:#262626;

$paragraph-color-grey :rgba($color: #000000, $alpha: .6);