/*GLOBAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Arial", sans-serif;
}

:root {
    --green-color: #6fda44;
    --blue-color: #1d4354;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: hidden;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

/*NAVBAR*/
.navbar {
    width: 100vw;
    background-color: var(--blue-color);
}

.navbar .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navbar .container .navbar-left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-left-logo {
    padding: 0 25px 0 16px;
}
.navbar-left-logo img{
    width: 100px;
}

.navbar-left-search {
    padding: 8px 5px;
    background: white;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-left-search i {
    border: 0;
    padding: 0 2px;
    cursor: pointer;
    font-size: 16px;

    color: var(--green-color);
}

.navbar-left-search input {
    border: 0;
    padding-left: 5px;
}
.navbar-left-search input:focus {
    outline: none;
}

/*NAVBAR RIGHT*/
.navbar-right {
    padding-right: 15px;
}
.navbar-right ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar-right ul li {
}
.navbar-right ul li a{
    display: block;
    padding: 25px 10px;
    color: #fff;
    text-transform: capitalize;
    font-size: 14px;
}
.navbar-right ul li:last-child a {
    padding: 7px 10px;
    background: var(--green-color);
    border-radius: 20px;
}

.navbar-right ul li:last-child a:hover {
    background: #fff;
    color: var(--green-color);
}
/*SUBNAV*/
.sub-nav .container ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.sub-nav .container ul li {
    padding: 10px 20px;
}

.sub-nav .container ul li a{
    color: var(--blue-color);
}

/*HEADER*/
.header {
    position: relative;
    max-width: 100vw;
    height: 700px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-bg{
    position: absolute;
    width: 100vw;
    height: 800px;
}

.header-bg img{
    width: 100%;
}

.header .container {
    position: absolute;
}
.header .header-inner {
    padding: 2rem 0;
    width: 56%;
    height: inherit;
}
.header .header-inner h1{
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 16px;
}

.header .header-inner a{
    background-color: var(--green-color);
    padding: 10px 15px;
    border-radius: 5px;
    color: var(--blue-color);
}