/*GLOBAL - CODE*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 85vw;
    margin: 0 auto;
    padding: 0 1rem;
}

.btn {
    display: block;
    padding: .7rem 1rem;
    background: #f4f4f4;
    border-radius: .2rem;
}

/*VABAR*/
.navbar {
    background-color: #f4f4f4;
    padding: .7rem 0;
}

/*LEFT*/
.navbar .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar .navbar-left-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar .navbar-left-left a {
    width: 60px;
    height: 60px;
    overflow: hidden;
    margin: 0 2.5rem 0 1rem;
}

.navbar .navbar-left-left img:first-child{
    width:30%;
}

.navbar .navbar-left-left a img:last-child{
    width: 100%;
}

.navbar-left-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}

.navbar-left-right li a {
    text-decoration: none;
    padding: .7rem .5rem;
    font-size: 14px;
    color: #444;
}
.navbar-left-right li a:hover {
    color: rgba(10,106,255,1);
}

.navbar-left-right li a i {
    padding-left: .2rem;
}
/*NAVBAR - RIGHT BTN*/
.navbar .navbar-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.navbar .navbar-right a {
    padding: 0 .7rem;
    display: block;
    text-decoration: none;
}

.navbar .navbar-right a:last-child {
    background-color: blue;
    padding: .5rem 1rem;
    border-radius: .2rem;
    color: #f4f4f4;
}

/*HEADER*/
.header {
    background: rgb(10,106,255);
    background: linear-gradient(90deg, rgba(10,106,255,1) 70%, rgba(135,69,255,1) 10%);
}

.header .header-inner {
    background: url("../images/background-home_gradient.svg") no-repeat center center/cover;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1rem;
    align-items: center;
    padding: 4rem 0;
}

.header-inner-texts {
    padding-right: 4rem;
    color: #f4f4f4;
}
.header-inner-texts h1{
    font-size: 2.7rem;
    line-height: 1.5;
    padding: 1rem 0;
}
.header-inner-texts h3 {
    font-size: 1.1rem;
    padding: 1rem 0;
}
.header .btn-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .5rem 0;
}
.header .btn-links a {
    text-decoration: none;
    margin-right: 1.2rem;
}
.header .btn-links a:first-child {
    background-color: #ffbe00;
    color: #333;
}
.header .btn-links a:last-child {
    background-color: transparent;
    border: 1px solid #fff;
    color: #f4f4f4;
    transition: all .3s ease-in-out;
}

.header .btn-links a:last-child:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.header .header-inner-images {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.header .header-inner-images img {
    display: block;
}