@media screen and (min-width:1024px) {

    .header {
        height: 70vh;
        .navbar {
            padding: 0;
            &-left {
                padding: 0 .5rem;
                img {
                    display: block;
                    width: 40px;
                }
            }
    
            &-right {
                &-list {
                    border-radius: 0 0 2rem 2rem;
                }
            }
        }
        //header-inner
        &-inner {
            padding: 2rem 0;
        }
    }
    
    //main
    .main {

        &-experience {
            padding: 0 .5rem;
            &-text {
                padding:  1rem 5rem;
                h4 {
                    font-size: 1.5rem;
                }
                h2{
                    font-size: 2rem;
                }
                p{
                    padding: 1rem 0;
                }
            }
            
            &-cards {
                grid-template-columns: repeat(3,1fr);
                grid-gap: .5rem;
                &-item {
                    .card-image {
                        height:180px;
                    }
                }
            }
        }
    }
    
}