* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
$primary-color:#1266F1;
.container {
    max-width: 1100px;
    margin: 0 auto;
}
p,a {
    font-size: 1rem;
}
a {
    text-decoration: none;
}
ul li {
    list-style: none;
}