body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    background: $primary-color;
    position: relative;
    height: 70vh;
    max-width: 100vw;
    overflow: hidden;
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: .5rem;

        &-left {
            img {
                display: block;
                width: 40px;
            }
        }

        &-right {

            &-list {

                display: none;//flex;
                flex-direction: row;
                li {
                    padding: 1.2rem .7rem;
                    a {
                        color: #fff;
                        text-transform: uppercase;
                    }
                }
            }

            //HUMBURGER
            &-humburger {
                cursor: pointer;
                width: 35px;
                height: 35px;
                border-radius: .3rem;
                background-color: rgba($color: #000000, $alpha: .3);
                
                display: flex;
                flex-direction: column;
                align-items: center;
                
                position: relative;

                span {
                    display: block;
                    width: 30px;
                    height: 4px;
                    background: #fff;
                    position: absolute;
                    top: 15px;
                    &::before {
                        content: "";
                        position: relative;
                        display: block;
                        width: inherit;
                        height: 4px;
                        background-color: #fff;
                        top: -10px;
                        left: 0;
                    }
                    &::after {
                        content: "";
                        position: relative;
                        display: block;
                        width: inherit;
                        height: 4px;
                        background-color: #fff;
                        top: 6px;
                        left: 0;
                    }
                }
                &:hover {
                    background-color: rgba($color: #000000, $alpha: .6);
                }
            }
        }

    }
    //header-inner
    &-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem 0;
        &-content {
            padding: .5rem;
            display: grid;
            grid-template-columns: 1fr;
            color: #fff;

            &-left {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 2rem 0;
                h3 {
                    font-size: 1.1rem;
                }
                h1 {
                    font-size: 2.3rem;
                }
                p {
                    font-size: 1rem;
                    margin: .7rem 0;
                }
                div {
                    margin: 1rem 0;
                    a {
                        background-color: #fff;
                        padding: .7rem 1.2rem;
                        border-radius: .3rem;
                        cursor: pointer;
                        transition: all .3s ease-in-out;
                        &:hover {
                            background-color: rgba($color: #fff, $alpha: .3);
                        }
                    }
                }
            }

            &-right {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 1rem;
                background-color: #F93154;
                border-radius: .3rem;
            }

        }
    }

    //
    &-bottom {
        background: url(../../public/waves.svg) no-repeat center center/cover;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 152px;
        width: 100vw;
    }

}

//main
.main {
    &-experience {
        position: relative;
        top: -20px;
        padding: 0 .5rem;
        &-text {
            text-align: center;
            h4 {
                font-size: 1.2rem;
                text-transform: uppercase;
                color: $primary-color;
            }
            h2{
                color: $primary-color;
                font-size: 1.5rem;
                text-transform: uppercase;
            }
            p{
                padding: .5rem 0 1.5rem 0;
            }
        }
        
        &-cards {
            display: grid;
            grid-gap: .5rem;
            &-item {
                border-radius: .5rem;
                display: flex;
                flex-direction: column;
                overflow: hidden;
                .card-image {
                    height:150px;
                    overflow: hidden;
                    img{
                        width: 100%;
                    }
                }
                .card-text {
                    padding: .7rem;
                    background-color: rgba($color: #ccc, $alpha: .3);
                    h3 {
                        font-size: 1.3rem;
                    }
                    p {
                        padding: .5rem 0;
                    }
                }
                border: 1px solid #ddd;
            }
        }
    }
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #ddd, $alpha: .3);
    height: 150px;
}