@media screen and (min-width:720px) {

    .header {
        height: 50vh;
        .navbar {
            padding: 0;
            &-left {
                padding: 0 .5rem;
                img {
                    display: block;
                    width: 40px;
                }
            }
    
            &-right {
                &-list {
                    border-radius: 0 0 0 2rem;
                    background-color: #fff;
                    display: flex;
                    flex-direction: row;
                    li {
                        padding: .8rem 1rem;
                        a {
                            color: $primary-color;
                            text-transform: uppercase;
                            font-weight: bold;
                        }
                    }
                }
    
                //HUMBURGER
                &-humburger {
                    display: none;
                }
            }
    
        }
        //header-inner
        &-inner {
            padding: 2rem 0;
            &-content {
                padding: .5rem;
                display: grid;
                grid-template-columns: repeat(2,1fr);
                color: #fff;
                
                &-left {
                    padding: 2rem ;
                    div {
                        text-align: center;
                    }
                }
    
                &-right {
                    justify-content: flex-start;
                    align-items: flex-start;
                    padding: 1rem;
                    background-color: transparent;
                }
            }
        }
        //
        &-bottom {
            height: 150px;
        }
    }
    
    //main
    .main {

        &-experience {
            position: relative;
            top: -20px;
            padding: 0 .5rem;
            &-text {
                text-align: center;
                padding:  0 5rem;
                h4 {
                    font-size: 1.2rem;
                    text-transform: uppercase;
                    color: $primary-color;
                }
                h2{
                    color: $primary-color;
                    font-size: 1.5rem;
                    text-transform: uppercase;
                }
                p{
                    padding: .5rem 0 1.5rem 0;
                }
            }
            
            &-cards {
                grid-template-columns: repeat(2,1fr);
                grid-gap: .5rem;
                &-item {
                    .card-image {
                        height:180px;
                    }
                }
            }
        }
    }
    
}