 /*LINKS*/
 
 @mixin link-active($color) {
     background-color: $white-color;
     a {
         color: $color!important;
     }
 }
 /*BUTTON*/
 
 @mixin button_outline($color) {
     background-color: transparent;
     border: 1px solid $color;
     color: $color;
     &:hover {
         background-color: rgba($color: $color, $alpha: .2);
         color: $color;
     }
 }
 
 @mixin button($color) {
     background-color: $color;
     border: 0;
     color: $white-color;
     &:hover {
         background-color: rgba($color: $color, $alpha: .2);
         color: $color;
     }
 }
 
 @mixin card_color($color_) {
     background-color: lighten($color: $color_, $amount: 30%)!important;
     color: $color_;
     //border: 1px solid $color_;
 }

 /*PROCESS BAR*/

@mixin process($color)
{
    .processing {
        background-color: $color;
        transition: all 0.3s ease-in-out;
        width: 0;
        height: .7rem;
        
        &.level {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: .7rem;
            font-weight: bold;
        }
        &.animate {
            $soft_color :  lighten($color, 10%);
            background-image: repeating-linear-gradient(to left, $color 0px 10px, $soft_color 10px 20px);
            transform: skewX(-30deg);
        }
    }
 }

