.accordeon-area {
    background-color: $grey-color;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    .accordeon {
        &-title {
            width: 300px;
            position: relative;
            overflow: hidden;
            transition: all .2s ease-in-out;
            p {
                border: 1px solid $grey-color;
                background-color: $white-color;
                color: $primary-color;
                font-size: 1.2rem;
                text-align: center;
                padding: .8rem 0;
                border-radius: .3rem .3rem 0 0;
                cursor: pointer;
                transition: all .2s ease-in-out;
            }
            &-content {
                background-color: $grey2-color;
                transition: all .2s ease-in-out;
                width: 0;
                height: 0;
            }
        }
        &.active {
            .accordeon-title-content {
                width: 300px;
                height: 100px;
            }
        }
    }
}