@mixin alert($color) {
    background-color: lighten($color: $color, $amount: 30%);
    display: block;
    position: relative;
    color: $color;
    padding: .8rem .5rem;
    margin-bottom: .1rem;
    border-radius: .2rem;
    .alert-close {
        position: absolute;
        right: 10px;
        content: "x";
        color: $color;
        cursor: pointer;
    }
    &::after {}
}

.alert {
    &.success {
        @include alert($success-color);
    }
    &.danger {
        @include alert($danger-color);
    }
    &.warning {
        @include alert($warning-color);
    }
    &.info {
        @include alert($info-color);
    }
    &.primary {
        @include alert($primary-color);
    }
    &.secondary {
        @include alert($secondary-color);
    }
    &.default {
        @include alert($navbar-bg-color);
    }
}