.aside {
    .aside-list-static {
        list-style: none;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        li {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            z-index: 1;
            /*LEFT*/
            a:nth-of-type(1) {
                display: block;
                padding: .6rem .8rem;
                background-color: $grey1-color;
                font-size: 1.2rem;
                width: 50px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }
            /*all li from 2nd one*/
            /*LEFT*/
            a:nth-of-type(2) {
                position: absolute;
                min-width: 250px;
                display: block;
                padding: .5rem;
                top: 50%;
                transform: translateY(-50%);
                left: -195px;
                z-index: -1;
                transition: all .3s ease-in-out;
                background-color: $primary-color;
                /*aside-show*/
                &.aside-hide-active {
                    left: 45px;
                    background-color: $grey1-color;
                }
            }
            &:hover {
                a {
                    color: $primary-color;
                }
                a:nth-of-type(1) {
                    border-right: 2px solid $info-color;
                }
                a:nth-of-type(2) {
                    border-right: 5px solid $primary-color;
                }
            }
        }
    }
}