.aside-profile-container {
    position: fixed;
    top: 0;
    left: -100vw;
    max-width: $aside-profile-width;
    height: auto;
    transition: all 0.3s ease-in-out;
    z-index: 10;
    .aside-profile-areas {
        height: auto;
        .aside-profile {
            position: relative;
            background-color: $white-color;
            z-index: 1;
            transition: all .3s ease-in-out;
            height: auto;
            box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
            transition: all .3s ease-in-out;
            /*PROFILE PICTURE BG */
            &-left {
                &-bg {
                    position: relative;
                    height: $aside-profile-bg-height;
                    overflow: hidden;
                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                }
                /*PROFILE PICTURE PROFILE */
                &-picture {
                    width: 90px;
                    height: 90px;
                    border-radius: 100%;
                    border: 5px solid $grey3-color;
                    overflow: hidden;
                    position: relative;
                    top: -50px;
                    left: 50%;
                    cursor: pointer;
                    transform: translateX(-50%);
                    background-color: $white-color;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    img {
                        width: 85%;
                    }
                }
                /*PROFILE PICTURE PROFILE */
                &-title {
                    position: relative;
                    text-align: center;
                    h4 {
                        font-size: 14px;
                        margin-bottom: -5px;
                    }
                    small {
                        font-size: 12px;
                    }
                }
                /*BADGE*/
                &-badge {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-gap: .5rem;
                    padding: 1rem;
                    &-content {
                        border: 1px solid grey;
                        border-radius: .2rem;
                        padding: 1rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        /*remove list disc*/
                    }
                    p {
                        font-size: 14px;
                        color: $dark-color;
                    }
                    small {
                        font-size: 12px;
                    }
                }
                /*ASIDE SERVICES*/
                &-services {
                    padding: 1rem;
                    ul {
                        list-style: none;
                        li {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            width: 100%;
                            cursor: pointer;
                            padding: .7rem .5rem;
                            border: 1px solid $grey2-color;
                            transition: all .3s ease-in;
                            i {
                                color: $default-color;
                                font-size: 1rem;
                                font-weight: bold;
                            }
                            a {
                                font-size: 15px;
                                padding-left: .5rem;
                                width: 100%;
                                display: block;
                                position: relative;
                                left: 1rem;
                                transition: left .3s ease-in;
                            }
                            &:hover {
                                a,
                                i {
                                    color: $primary-color;
                                }
                                a {
                                    left: .3rem;
                                }
                                background-color: rgba($color: $grey1-color, $alpha: .5);
                            }
                            &.profile-close {}
                        }
                    }
                }
            }
        }
    }
    &.active {
        left: 0;
    }
}