/*Group of buttons*/

.group-btn {
    .btn {
        border-radius: 0;
        margin: 0 -.13rem;
    }
    .btn:first-child {
        border-radius: .2rem 0 0 .2rem;
    }
    .btn:last-child {
        border-radius: 0 .2rem .2rem 0;
    }
}


/*Single buttons*/

.btn {
    display: inline-block;
    padding: .5rem 1.2rem;
    border-radius: .1rem;
    outline-style: none;
    cursor: pointer;
    border: 0;
    text-decoration: none;
    color: $dark-color;
    transition: background-color .3s ease-in-out;
    font-size: 14px;
    box-shadow: 0 2px 2px rgba($color: #000000, $alpha: .1);
    /*OUTLINE BTN*/
    &.primary-outline {
        @include button_outline($primary-color);
    }
    &.secondary-outline {
        @include button_outline($secondary-color);
    }
    &.default-outline {
        @include button_outline($default-color);
    }
    &.success-outline {
        @include button_outline($success-color);
    }
    &.warning-outline {
        @include button_outline($warning-color);
    }
    &.danger-outline {
        @include button_outline($danger-color);
    }
    &.info-outline {
        @include button_outline($info-color);
    }
    &.light-outline {
        @include button_outline($white-color);
    }
    &:hover {
        background-color: rgba($color: #000000, $alpha: .1);
    }
    /*INNER BTN*/
    &.primary {
        @include button($primary-color);
    }
    &.secondary {
        @include button($secondary-color);
    }
    &.default {
        @include button($default-color);
    }
    &.success {
        @include button($success-color);
    }
    &.warning {
        @include button($warning-color);
    }
    &.danger {
        @include button($danger-color);
    }
    &.info {
        @include button($info-color);
    }
    &.light {
        @include button($white-color);
    }
    &.dark {
        @include button($dark-color);
    }
}