.carousel {
    position: relative;
    max-width: 680px;
    margin: 0 auto;
    overflow: hidden;
    &-group {
        max-width: 680px;
        height: 450px;
        overflow: hidden;
        max-width: inherit;
        position: relative;
        &-item {
            width: 100%;
            position: absolute;
            object-fit: cover;
            top: 0;
            left: 100vw;
            transition: all 0.5s ease-in-out;
            box-shadow: 0 2px 2px rgba($color: $dark-color, $alpha: 0.2);
            border-radius: .3rem;
            &.show {
                left: 0;
            }
        }
        //carousel chip
        &-bubble {
            width: 600px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            &-item {
                width: 15px;
                height: 15px;
                border-radius: 100%;
                background-color: rgba($grey1-color, 0.2);
                border: 1px solid $default-color;
                margin: 0 .1rem;
                cursor: pointer;
                &.show {
                    background-color: $white-color;
                }
            }
        }
    }
}