 /*Group where are many card elements*/
 
 .card {
     background-color: $white-color;
     border-radius: .2rem;
     box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
     display: flex;
     flex-direction: column;
     position: relative;
     transition: all .3s ease-in-out;
     justify-content: space-between;
     /*TEXT-BACK*/
     &.text-up {
         position: relative;
         transform: rotateY(0);
         transition: transform .3s ease-in-out;
         box-shadow: 0 2px 2px rgba(194, 191, 191, 0.3);
         border-radius: .3rem;
         overflow: hidden;
         height: 100%;
         img {
             width: 100%;
             display: block;
             border-radius: .3rem;
         }
         .text-up-front {
             z-index: 1;
             .up-title {
                 font-size: 1rem;
                 background-color: rgba(43, 43, 43, 0.3);
                 padding: 1rem 0;
                 position: absolute;
                 bottom: 0;
                 left: 0;
                 color: #f4f4f4;
                 width: 100%;
                 p {
                     padding: 0 1rem;
                     font-weight: bold;
                     text-transform: capitalize;
                 }
             }
             .up-img {
                 transform: rotateY(0);
                 transition: transform .3s ease-in-out;
             }
         }
         .text-up-back {
             background-color: #4285F4;
             padding: 1rem 0;
             position: absolute;
             left: 0;
             color: #f4f4f4;
             width: 100%;
             min-height: 500px;
             padding: .3rem;
             border-radius: .3rem;
             top: 232px;
             transition: top .2s ease-in-out;
             z-index: -1;
             overflow: hidden;
         }
         &:hover {
             .text-up-back {
                 z-index: 10;
                 top: -1;
             }
             .text-up-back {
                 z-index: 1;
                 top: 0;
             }
         }
     }
     /*HORIZONTAL*/
     &.horizontal {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         grid-column: 2/4;
         grid-row: auto;
         .card-left {
             .card-image {
                 img {
                     object-fit: cover!important;
                     width: 100%;
                     height: 100%;
                     border-radius: .2rem 0 0 .2rem;
                 }
             }
         }
         .card-right {
             display: flex;
             flex-direction: column;
             justify-content: space-between;
             position: relative;
             &-top {
                 display: flex;
                 flex-direction: row;
                 justify-content: space-between;
                 align-items: center;
                 padding: .6rem;
                 &-avatar {
                     width: 30px;
                     height: 30px;
                     border-radius: 100%;
                     overflow: hidden;
                     img {
                         width: 210%!important;
                         margin-left: -20px;
                     }
                 }
                 &-content {
                     font-size: 14px;
                     p {
                         &:first-child {
                             font-weight: bold;
                         }
                         &:last-child {
                             font-size: 10px;
                         }
                     }
                 }
                 i {
                     cursor: pointer;
                 }
                 &-show {
                     //display: block;
                     &.active {
                         display: block;
                     }
                 }
             }
             &-body {
                 padding: .6rem;
                 h3 {
                     font-size: 1.1rem;
                     margin: 0!important;
                     margin-bottom: .5rem!important;
                     text-align: center;
                 }
                 p {
                     font-size: 14px;
                 }
             }
             &-back {
                 display: none;
                 padding: .6rem;
                 transition: all .3s ease-in-out;
                 &-content {
                     display: flex;
                     flex-direction: column;
                     h4 {
                         margin-top: .2rem;
                     }
                     p {
                         font-size: .8rem;
                         margin-bottom: .6rem;
                     }
                     &-readmore {
                         text-align: center;
                     }
                 }
                 &.active {
                     position: absolute;
                     display: block!important;
                     height: 100%;
                     width: 100%;
                     top: 0;
                     left: 0;
                     background-color: $white-color;
                 }
             }
             &-footer {
                 border-top: 1px solid $grey-color;
                 padding: .6rem;
                 display: flex;
                 flex-direction: row;
                 justify-content: space-between;
                 align-items: center;
                 color: $default-color;
                 i {
                     cursor: pointer;
                 }
             }
         }
     }
     /*FRONT*/
     &-group {
         display: flex;
         flex-direction: column;
     }
     img {
         width: 100%;
         display: block;
     }
     &-title {
         /*PLACE FOR TITLE*/
         padding: 1rem;
         text-align: center;
         color: $dark-color;
         background: $dark-white-color;
         font-weight: bold;
     }
     &-body {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         .far,
         .fas {
             color: #f7931e;
         }
     }
     &-content {
         padding: .5rem;
         z-index: 1;
         transition: all .3s ease-in-out;
     }
     /*BACK*/
     &:hover {
         &-content {
             z-index: -1;
         }
         .card-back {
             z-index: 1;
         }
     }
     &-back {
         position: absolute;
         height: 100%;
         width: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         z-index: -1;
         background-color: $white-color;
         transition: all .3s ease-in-out;
     }
     /*IMAGE*/
     &-image {
         img {
             border-radius: .2rem;
             display: block;
             object-fit: cover;
         }
         &-title {
             img {
                 object-fit: cover;
                 display: block;
                 border-radius: .3rem 0.3rem 0 0;
             }
         }
     }
     /*---------------COULEURS---------------*/
     &.success {
         @include card_color($success-color);
     }
     &.danger {
         @include card_color($danger-color);
     }
     &.warning {
         @include card_color($warning-color);
     }
     &.info {
         @include card_color($info-color);
     }
     &.primary {
         @include card_color($primary-color);
     }
     &.secondary {
         @include card_color($secondary-color);
     }
     &.default {
         @include card_color($default-color);
     }
 }