.collection {
    display: block;
    &-list {
        display: flex;
        flex-direction: column;
        min-width: auto;
        &-item {
            display: inline-block;
            padding: .6rem;
            border: 1px solid lighten($color: grey, $amount: 10%);
            border-radius: .1rem;
            background-color: $grey3-color;
            color: $primary-color;
            /*Useful for bagde*/
            position: relative;
            min-width: $collection-width;
            /*BADGE*/
            .badge {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 10px;
                padding: 0.2rem;
                background-color: $primary-color;
                color: $white-color;
                border-radius: .1rem;
            }
            /*HOVERS*/
            &:hover {
                cursor: pointer;
                background-color: rgba($color: #616060, $alpha: .2);
            }
        }
    }
}