    @media screen and (min-width:960px) {
        //HOME PAGE
        .home {
            &-component {
                &-cardarea {
                    //simple
                    &-simple,
                    &-personalized {
                        &>div {
                            margin-bottom: 0;
                        }
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        grid-gap: 1rem;
                    }
                    //card with photo and text on back
                    &-personalized {
                        grid-template-columns: repeat(3, 1fr);
                        padding: 1rem 0;
                        &>div {
                            &:first-child {
                                grid-column: 1/2;
                                grid-row: 1;
                            }
                            &:nth-of-type(2) {
                                grid-column: 2/3;
                                grid-row: 1;
                            }
                            &:nth-of-type(3) {
                                grid-column: 3/4;
                                grid-row: 1;
                            }
                            &:nth-of-type(4) {
                                grid-column: 1/2;
                                grid-row: 2;
                            }
                            &:nth-of-type(5) {
                                grid-template-columns: repeat(2, 1fr)!important;
                                grid-column: 1/4;
                                grid-row: 2;
                            }
                            &:nth-of-type(6) {
                                grid-template-columns: repeat(2, 1fr)!important;
                                grid-column: 1/4;
                                grid-row: 5;
                            }
                        }
                    }
                }
            }
        }
        //MAIN - CV
        .cv {
            // max-width: 100vw;
            /*HEADER SECTION*/
            &-header {
                &-inner {
                    //Image Side
                    &-picture {
                        &-image {
                            img {}
                        }
                    }
                    //Autor Side
                    &-autor {
                        //autor title
                        &-name {
                            h1 {}
                            h3 {}
                        }
                        //Autor detail
                        &-about {}
                    }
                }
            }
            /*CV-NAVABAR*/
            &-navbar-p {
                .cv-navbar-list-p {
                    display: flex; //flex
                    .navbar-list-item-p {}
                }
            }
            //COMPETENCES
            &-competence {
                &-inner {
                    &-group {
                        grid-template-columns: repeat(3, 1fr);
                    }
                }
            }
            //PORTFOLIO
            &-portfolio {
                &-inner {
                    &-group {
                        grid-template-columns: repeat(3, 1fr);
                    }
                }
            }
            //EXPERIENCE
            &-experience {
                &-inner {
                    &-group {
                        grid-template-columns: repeat(2, 1fr);
                        &-item {
                            &-content {
                                p {
                                    &:last-child {
                                        grid-template-columns: repeat(10, 1fr);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            //FORMATIONS
            &-formation {
                &-inner {
                    &-group {
                        grid-template-columns: repeat(3, 1fr);
                    }
                }
            }
            //LOISIRS
            &-loisir {
                &-inner {
                    &-group {
                        grid-template-columns: repeat(4, 1fr);
                    }
                }
            }
            //CONTACT
            &-contact {}
            //FOOTER 
            &-footer {}
        }
    }