.dropdown {
    position: relative;
    overflow: hidden;
    transition: overflow .3s ease-in-out;
    &-list {
        position: absolute;
    }
    &:hover {
        color: $white-color;
        overflow: visible;
        z-index: 100;
    }
    &-list {
        li {
            padding: 0;
        }
    }
}