.form {
    /*INPUT FIELDS AND TEXTAREA*/
    &-text {
        width: 100%;
        padding: .5rem;
        outline-style: none;
        border: 2px solid $dark-light-color;
        margin: 0.1rem 0;
        border-radius: .2rem;
    }
    &-group {
        /*TODO Possibility to optimise this code (label and button)*/
        &.label,
        &.label-r,
        &.button {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: flex-end;
            padding: .2rem 0;
        }
        &.label {
            input {
                border-left: 0;
                border-radius: 0 0.2rem .2rem 0;
                margin: 0;
            }
            label {
                border: 2px solid $default-color;
                border-radius: .2rem 0 0 .2rem;
                font-size: 16px;
                padding: .4rem;
            }
        }
        &.label-r {
            input {
                border-right: 0;
                border-radius: 0.2rem 0 0 .2rem;
                margin: 0;
                order: 1;
            }
            label {
                border: 2px solid $default-color;
                border-radius: 0 .2rem .2rem 0;
                font-size: 16px;
                padding: .4rem;
                order: 2;
            }
        }
        &.button {
            input {
                border-right: 0;
                border-radius: 0.2rem 0 0 .2rem;
                margin: 0;
            }
            button {
                margin: 0;
                border: 2px solid $default-color;
                border-radius: 0 .2rem .2rem 0;
                font-size: 16px;
                padding: .4rem;
            }
        }
        /*Animation*/
        &.animate {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            position: relative;
            input {
                border: 0;
                border-bottom: 2px solid $default-color;
                border-radius: 0;
                margin: 0;
                z-index: 1;
                &:focus {
                    border-bottom: 3px solid $info-color;
                }
            }
            label {
                position: relative;
                bottom: -1.67rem;
                left: .5rem;
                transition: all .3s ease-in-out;
                z-index: -1;
                &.focus {
                    bottom: 0;
                    left: 0;
                    color: $default-color;
                    z-index: 10;
                }
            }
        }
    }
    /*BOTTON*/
}