/*Lato google font*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/*Using Roboto font from Google font */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.navbar h3,
.navbar h2 {
    text-align: center;
}

.collection-area {
    width: auto;
}

ul li a {
    text-decoration: none;
    color: $dark-color;
}

hr {
    margin: .5rem 0;
}


/*ASIDE*/

.asidearea {
    width: 300px;
    height: auto;
}