.m6 {
    width: 49.7%!important;
    display: inline!important;
    margin: 0 .5rem;
}

.m12 {
    width: 100%!important;
    display: inline!important;
}


/*COLUMNS*/

.container {
    max-width: $container-width;
    padding: 0 1rem;
    margin: 0 auto;
    //border: 1px dashed red;
}

.container-fluid {
    max-width: $container-fluid-width;
    padding: 1rem;
    margin: 0 auto;
}