.header {
    position: relative;
    max-width: 100%;
    height: 500px;
    overflow: hidden;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    border-radius: .3rem;
    &-image{
        position: absolute;
        top: 0;
        right: 0;
        height: inherit;
        &-container {
            width: 100%;
            img {
                max-width: 100%;
                height: 500px;
                object-fit: cover;
                object-position: right;
            }
        }
    }
    .divisor-left {

    }

    &-text {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 510px;
        height: 100%;
        background-color: $white-color;

        display: flex;
        flex-direction: column;
        &-nav {
            background-color: $white-color;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            z-index: 1;
            padding: .7rem;
            &-logo {
                img {
                    width: 45px;
                }
            }
            &-list {
                display: flex;
                flex-direction: row;
                align-items: center;
                list-style: none;
                li {
                    a {
                        transition: all .3s ease-in;
                        display: inline-block;
                        padding: .5rem .5rem;
                        text-decoration: none;
                        &:hover {
                            color: $primary-color;
                        }
                    }
                    &:last-child {
                        a{
                            color: $primary-color;
                        }
                    }
                }
            }
        }
        &-content {
            height: 50%;
            padding: 5rem 2rem;
            z-index: 1;
            h1 {
                font-size: 2rem;
                text-align: center;
                margin: 0;
                text-transform: uppercase;
            }
            h3 {
                text-transform: uppercase;
                margin: .5rem 0!important;
                color: $info-color;
                font-size: 1.5rem;
                text-align: center;
                padding: 0!important;
            }
            p {
                margin: 2rem 0;
            }
            &-btn {
                text-align: center;
                margin: 2rem 0;
                .btn {
                    padding: 1rem 2rem;
                }
            }
        }
        .divisor-left {
            position: absolute;
            top: 0;
            right: -80px;
            width: 100%;
            height: 100%;
            z-index: 0;
            background: url("../../public/images/header/hover.png") no-repeat right;
        }
    }

    
}