.jumbotron {
    //todo :  create variables for thoses bottom values
    width: 100vw;
    height: 50vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-inner {
        padding: 1rem;
        text-align: center;
        &-title {
            font-size: 2.5rem;
            font-weight: 400;
            margin-bottom: .5rem;
            color: #464646;
        }
        /*Meaning of title*/
        p {
            font-size: 1.2rem;
            margin-bottom: 2rem;
        }
    }
    &.default {
        /*Button Get Started*/
        button {
            padding: .7rem;
            border-radius: .1rem;
            background-color: $default-color;
            transition: all .3s ease-in-out;
            &:hover {
                background-color: $dark-light-color;
                color: white;
            }
        }
    }
    &.light {
        background-color: $white-color;
    }
}