/*NAVBAR - GENERAL*/

.navbar-p {
    background-color: $fourth-color-p;
    max-width: 100vw;
    height: auto;
    padding: 0 1rem;
    .navbar-inner-p {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        //Navbar logo
        .navbar-logo-p {
            display: flex;
            flex-direction: row;
            align-items: center;
            a {
                text-decoration: none;
                img {
                    width: 40px;
                    display: block;
                }
            }
        }
        //Navbar-list-items
        .navbar-list-p {
            display: flex;
            flex-direction: row;
            align-items: center;
            list-style: none;
            .navbar-list-item-p {
                a {
                    display: block;
                    padding: .7rem 1rem;
                    text-decoration: none;
                    color: $primary-color-p;
                    transition: background-color .3s ease-in-out;
                    &:hover {
                        background-color: $primary-color-p;
                        color: $fourth-color-p;
                    }
                }
            }
        }
    }
}

//HOME PAGE
.home {
    max-width: 100vw;
    background-color: $grey2-color;
    //HEADER
    &-header {
        background-color: $secondary-color-p;
        &-inner {
            padding: 3rem 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &-left {
                width: 250px;
                img {
                    width: 100%;
                }
            }
            &-right {
                text-align: center;
                color: $fourth-color-p;
                &>* {
                    margin: 1.3rem 0;
                }
                h1 {
                    font-size: 1.2rem;
                    font-weight: 500;
                    .fourth {
                        color: $fourth-color-p;
                    }
                    .white {
                        color: $white-color;
                    }
                    .success {
                        color: $success-color;
                    }
                }
                .get-started {
                    padding: 0.9rem 1.5rem;
                    background-color: $fourth-color-p;
                    color: $secondary-color-p;
                    font-size: 1.1rem;
                    &:hover {
                        background-color: rgba($color: $fourth-color-p, $alpha: .2);
                        color: $fourth-color-p;
                    }
                }
            }
        }
    }
    &-component {
        &-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            h2 {
                margin: 1rem 0;
                color: #303133;
                text-transform: capitalize;
            }
            h3 {
                margin: 2rem 0;
            }
            h4 {
                margin: .5rem 0;
            }
            &-installarea {
                .code {
                    margin-bottom: 2rem;
                    background-color: $primary-color-p;
                    color: $white-color;
                    padding: 1rem;
                    border-radius: .2rem;
                    overflow: scroll;
                    font-size: 13px;
                    border: 0;
                    small {
                        &.tag {
                            font-size: 14px;
                            color: red;
                        }
                        &.attribut {
                            font-size: 14px;
                            color: rgb(57, 165, 66);
                        }
                    }
                }
            }
        }
        //Asidearea
        &-asidearea {}
        //collection area
        &-collectionarea {}
        //alertarea
        &-alertarea {
            &>* {
                margin-bottom: 1rem!important;
            }
        }
        //formarea
        &-formarea {
            &-button {
                .outline>a,
                .button>a {
                    margin-bottom: .2rem;
                }
            }
            &-input {
                form>* {
                    margin-bottom: .5rem;
                }
            }
        }
        //cardarea
        &-cardarea {
            &-simple>div,
            &-personalized>div {
                margin-bottom: 1rem;
            }
            //card with photo and text on back
            &-personalized {
                .card {
                    &.horizontal {
                        grid-template-columns: 1fr;
                        img {
                            border-radius: 0.3rem 0.3rem 0 0!important;
                        }
                    }
                }
            }
        }
    }
}

//CV PAGE
.cv {
    max-width: 100vw;
    /*HEADER SECTION*/
    &-header {
        max-width: inherit;
        background-color: $primary-color-p;
        color: $fourth-color-p;
        padding-bottom: 1rem;
        &-inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-left: 2px dashed $fourth-color-p;
            border-right: 2px dashed $fourth-color-p;
            border-bottom: 2px dashed $fourth-color-p;
            border-radius: 0 0 .5rem .5rem;
            padding: 3rem 1rem;
            //Image Side
            &-picture {
                padding-bottom: 3rem;
                &-image {
                    width: 250px;
                    height: 250px;
                    border-radius: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    img {
                        width: 90%;
                    }
                }
            }
            //Autor Side
            &-autor {
                display: flex;
                flex-direction: column;
                //autor title
                &-name {
                    padding-bottom: 1.6rem;
                    text-align: center;
                    h1 {
                        font-family: Lato, 'sans-serif';
                        font-size: 1.5rem;
                        font-weight: 800;
                        margin-bottom: .5rem;
                    }
                    h3 {
                        font-family: Lato, 'sans-serif';
                        font-weight: 500;
                        font-size: 1.2rem;
                    }
                }
                //Autor detail
                &-about {
                    &>* {
                        margin-bottom: .5rem;
                    }
                    p {
                        font-size: .9rem;
                        font-family: Roboto, 'sans-serif';
                        &:last-child {
                            //color: $white-color;
                        }
                    }
                }
            }
        }
    }
    /*CV-NAVABAR*/
    &-navbar-p {
        background-color: $primary-color-p;
        transition: all .3s ease-in-out;
        z-index: 10;
        .cv-navbar-list-p {
            display: none; //flex
            flex-direction: row;
            align-items: center;
            justify-content: center;
            list-style: none;
            transition: all .3s ease-in-out;
            .navbar-list-item-p {
                a {
                    display: block;
                    padding: 1rem;
                    text-decoration: none;
                    text-transform: capitalize;
                    color: $fourth-color-p;
                    transition: background-color .3s ease-in-out;
                    &:hover {
                        background-color: $fourth-color-p;
                        color: $primary-color-p;
                    }
                }
            }
        }
        &.active {
            .cv-navbar-list-p {
                display: flex;
            }
        }
    }
    /*GLOBAL TITLE FORM*/
    .items-global-title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 0 3rem 0;
        &-design {
            display: flex;
            flex-direction: row;
            align-items: center;
            span {
                border: 1px solid $primary-color-p;
                width: 15px;
                height: 15px;
                border-radius: 100%;
                margin: 0 .3rem;
                &.first {
                    background-color: $primary-color-p;
                }
                &.second {
                    background-color: $secondary-color-p;
                }
                &.third {
                    background-color: $third-color-p;
                }
                &.fourth {
                    background-color: $fourth-color-p;
                }
            }
        }
        /*TITLE*/
        h2 {
            text-transform: capitalize;
        }
    }
    //COMPETENCES
    &-competence {
        background-color: $fourth-color-p;
        &-inner {
            padding: 3rem 0;
            .items-global-title h2 {
                color: $secondary-color-p;
            }
            &-group {
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: 1rem;
                &-item {
                    border: 2px solid $secondary-color-p;
                    border-radius: .3rem;
                    transition: box-shadow .2s ease-in-out;
                    &-title {
                        background-color: $secondary-color-p;
                        color: $fourth-color-p;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0.7rem;
                        i {
                            font-size: 1.7rem;
                        }
                    }
                    &-body {
                        padding: .5rem;
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-gap: .4rem;
                        font-size: 1.2rem;
                        color: $secondary-color-p;
                        div {
                            &:last-child {
                                text-align: right;
                                color: #f5a345;
                            }
                        }
                    }
                    &:hover {
                        box-shadow: 0px 5px 5px rgba($color: $dark-color, $alpha: 20%);
                    }
                }
            }
        }
    }
    //PORTFOLIO
    &-portfolio {
        background-color: $secondary-color-p;
        &-inner {
            padding: 3rem 0;
            .items-global-title h2 {
                color: $fourth-color-p;
            }
            &-group {
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: 1rem;
                &-item {
                    position: relative;
                    &-front {
                        border: 2px solid $fourth-color-p;
                        z-index: 1;
                        overflow: hidden;
                        .card-title {
                            text-transform: uppercase;
                            background-color: $fourth-color-p;
                            color: $secondary-color-p;
                            padding: .7rem .5rem;
                        }
                        //hidden element
                        .cv-portfolio-inner-group-item-front-back {
                            position: absolute;
                            top: 250px;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            z-index: -1;
                            transition: all .3s ease-in-out;
                            a {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                width: 100%;
                                height: 100%;
                                text-decoration: none;
                                background-color: rgba($color: $fourth-color-p, $alpha: .5);
                                i {
                                    font-size: 2.5rem;
                                    color: $fourth-color-p;
                                }
                            }
                        }
                        &:hover {
                            .cv-portfolio-inner-group-item-front-back {
                                top: 0;
                                z-index: 10;
                            }
                        }
                    }
                }
            }
        }
    }
    //EXPERIENCE
    &-experience {
        background-color: $secondary-color-p;
        &-inner {
            padding: 3rem 0;
            .items-global-title h2 {
                color: $fourth-color-p;
            }
            &-group {
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: 2rem;
                &-item {
                    border: 2px solid $fourth-color-p;
                    &-title {
                        background-color: $fourth-color-p;
                        color: $secondary-color-p;
                        padding: .5rem;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        position: relative;
                        i {
                            position: absolute;
                            top: -25px;
                            right: 30px;
                            font-size: 2rem;
                            color: $grey1-color;
                            transform: rotate(45deg);
                        }
                    }
                    &-content {
                        padding: .5rem;
                        color: $fourth-color-p;
                        p {
                            &:first-child {
                                font-size: 14px;
                            }
                            &:last-child {
                                font-size: 1.5rem;
                                display: grid;
                                grid-template-columns: repeat(6, 1fr);
                                i {
                                    text-align: center;
                                    padding: .5rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    //FORMATIONS
    &-formation {
        background-color: $fourth-color-p;
        &-inner {
            padding: 3rem 0;
            .items-global-title h2 {
                color: $secondary-color-p;
            }
            &-group {
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: 1rem;
                &-item {
                    background-color: $secondary-color-p;
                    padding: 3rem;
                    border-radius: .5rem;
                    text-align: center;
                    color: $fourth-color-p;
                    box-shadow: 0 3px 2px rgba($color: #000000, $alpha: 0.2);
                    transition: box-shadow .3s ease-in-out;
                    &>* {
                        margin-bottom: 1.2rem;
                    }
                    p {
                        font-size: 1.2rem;
                    }
                    i {
                        font-size: 3rem;
                    }
                    h4 {
                        font-size: 1.1rem;
                        font-weight: 500;
                    }
                    .btn {
                        padding: .7rem 2rem;
                        background-color: $fourth-color-p;
                        color: $secondary-color-p;
                        font-size: 1.2rem;
                        border-radius: .2rem;
                        box-shadow: 0 3px 2px rgba($color: #000000, $alpha: 0.2);
                        &:hover {
                            background-color: rgba($color: $white-color, $alpha: .2);
                            color: $white-color!important;
                        }
                    }
                    &:hover {
                        box-shadow: 2px 2px 12px rgba($color: $dark-color, $alpha: 20%), 0px 2px 2px rgba($color: $dark-color, $alpha: 10%);
                    }
                }
            }
        }
    }
    //LOISIRS
    &-loisir {
        background-color: $primary-color-p;
        &-inner {
            padding: 3rem 0;
            .items-global-title {
                &-design span {
                    border: 1px solid $fourth-color-p;
                }
                h2 {
                    color: $fourth-color-p;
                }
            }
            &-group {
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: 1rem;
                color: $fourth-color-p;
                &-item {
                    text-align: center;
                    margin-bottom: 1rem;
                    i {
                        font-size: 4rem;
                        padding: 1rem 0;
                        position: relative;
                        top: 0;
                        transition: all .3s ease-in-out;
                    }
                    h3 {
                        font-weight: 500;
                        font-size: 1.2rem;
                    }
                    &:hover i {
                        top: -10px;
                    }
                }
            }
        }
    }
    //CONTACT
    &-contact {
        background-color: $secondary-color-p;
        &-inner {
            padding: 3rem 0;
            .items-global-title h2 {
                color: $fourth-color-p;
            }
            &-form {
                .form-group {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    &-item {
                        margin-bottom: 1.3rem;
                        label {
                            &:first-child {
                                color: $fourth-color-p;
                                text-transform: capitalize;
                            }
                            &:last-child {
                                color: $danger-color;
                            }
                        }
                        input,
                        textarea {
                            padding: .7rem 1rem;
                            margin-top: .5rem;
                            border: 0;
                            border-radius: .2rem .2rem 0 0;
                            outline-style: none;
                            font-size: 1rem;
                            background-color: rgba($color: $third-color-p, $alpha: .2);
                            transition: border-bottom .3s ease-in-out;
                            &:focus {
                                border-bottom: 4px solid $success-color;
                            }
                        }
                        .form-message {
                            display: none;
                            font-size: 13px;
                            color: red!important;
                            transition: display .3s ease-in-out;
                            &.active {
                                display: block;
                            }
                        }
                    }
                }
                .btn {
                    padding: .7rem 2rem;
                    display: inline!important;
                    background-color: $fourth-color-p;
                    color: $secondary-color-p;
                    font-size: 1.1rem;
                    transition: all .3s ease-in-out;
                    &:hover {
                        background-color: rgba($color: $fourth-color-p, $alpha: .2);
                        color: $fourth-color-p;
                    }
                }
            }
        }
    }
    //FOOTER 
    &-footer {
        //margin-top: 3rem;
        padding: 4rem 1rem;
        background-color: $primary-color-p;
        color: $fourth-color-p!important;
        &-social {
            &-group {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                list-style: none;
                &-item {
                    a {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        padding: 1.1rem;
                        margin: 0 1rem;
                        overflow: hidden;
                        width: 45px;
                        height: auto;
                        i {
                            bottom: 0;
                            left: -13px;
                            position: absolute;
                            color: $fourth-color-p!important;
                            font-size: 2rem;
                            margin: 0 1rem;
                            transition: top .3s ease-in-out;
                            &:first-child {
                                top: 0;
                            }
                            &:last-child {
                                top: 30px;
                                &.fa-youtube {
                                    color: $danger-color!important;
                                }
                                &.fa-gitlab {
                                    color: $warning-color!important;
                                }
                                &.fa-linkedin-in {
                                    color: $primary-color!important;
                                }
                            }
                        }
                        &:hover {
                            i:first-child {
                                top: 30px;
                            }
                            i:last-child {
                                top: 0;
                            }
                        }
                    }
                }
            }
        }
        p {
            text-align: center;
            margin: 1rem 0;
            line-height: 2;
            font-size: 14px;
            a {
                text-decoration: none;
                color: $third-color-p;
            }
        }
    }
}

//MENTIONS LEGALES - PAGE   
.mentions {
    &-group {
        display: flex;
        flex-direction: column;
        & > div {
            h1 {
                font-size: 2rem;
                color: $secondary-color-p;
                text-align: center;
                margin-bottom: 2rem;
            }
            h2 {
                font-size: 1.3rem;
                color: $secondary-color-p;
                margin-bottom: 1rem;
            }
        }
        //mention legale
        &-legale {
            padding: 1rem;
        }
        //mention Info
        &-infos {
            padding: 1rem;
        }
        //accessibilite {
        &-accessibilite {
            padding: 1rem;
        }
        //intellectuelle
        &-intellectuelle {
            padding: 1rem;
        }
        //cookies
        &-cookies {
            padding: 1rem;
        }
    }

}

.footer-go-up {
    position: fixed;
    padding: .6rem .8rem;
    text-decoration: none;
    box-shadow: 0 2px 2px rgba($color: $white-color, $alpha: .2);
    background-color: $secondary-color-p;
    color: $fourth-color-p!important;
    font-size: 1.2rem;
    border-radius: .3rem;
    right: 1rem;
    bottom: 5rem;
    border: 2px solid $white-color;
    display: none;
    transition: all .3s ease-in;
    z-index: 100;
    &:hover {
        background-color: rgba($color: $secondary-color-p, $alpha: .2);
        color: $secondary-color-p!important;
        border: 2px solid $secondary-color-p;
    }
    &:visited {
        box-shadow: 0 2px 2px rgba($color: $white-color, $alpha: .2);
        background-color: $secondary-color-p;
        color: $fourth-color-p!important;
        border: 2px solid red;
    }
}