 .navbar {
     display: block;
     z-index: 100;
     padding: 0 1rem;
     max-width: 100%;
     .navbar-list {
         display: flex;
         flex-direction: row;
         list-style: none;
         /*LINKS*/
         li {
             transition: background-color .3s ease-in, border-bottom .3s ease-in;
             a {
                 display: inline-block;
                 text-decoration: none;
                 color: $white-color;
                 padding: .8rem 1rem;
             }
             /*HOVER*/
             &:hover {
                 background-color: $white-color;
                 a {
                     color: $dark-color;
                 }
             }
         }
         /*ALIGN*/
         &.left {
             justify-content: flex-start;
         }
         &.right {
             justify-content: flex-end;
         }
         &.center {
             justify-content: center;
         }
         /*LOGO*/
         &-logo {
             display: flex;
             flex-direction: row;
             align-items: center;
             .navbar-logo {
                 &.round {
                     margin-right: 1rem;
                     a {
                         width: 35px;
                         height: 35px;
                         border-radius: 100%;
                         display: flex;
                         flex-direction: column;
                         justify-content: center;
                         align-items: center;
                         overflow: hidden;
                         img {
                             display: block;
                             width: 130%;
                         }
                     }
                 }
                 img {
                     width: 100%;
                 }
             }
             /*ALIGNEMENTS*/
             &.center {
                 justify-content: space-between;
             }
         }
     }
     /*PRIMARY*/
     &.primary {
         background-color: $primary-color;
         li {
             a {
                 &:hover {
                     color: $primary-color;
                     /*ACTIVATED*/
                 }
             }
             &.active {
                 /*ACTIVATED*/
                 @include link-active($primary-color);
             }
         }
     }
     &.default {
         background-color: $grey-color;
         li {
             a {
                 color: $dark-color;
                 &:hover {
                     color: $dark-color;
                 }
             }
             &.active {
                 /*ACTIVATED*/
                 @include link-active($dark-color);
             }
         }
     }
     /*Special for my project-cv*/
     &#cv-bar {
         background-color: $secondary-color-p;
         li {
             a {
                 &:hover {
                     color: $secondary-color-p;
                 }
             }
             &.active {
                 /*ACTIVATED*/
                 @include link-active($secondary-color-p);
             }
         }
     }
     /*VARBAR - LIGHT*/
     &.light {
         background-color: $white-color;
         transition: all .3s ease-in-out;
         li {
             a {
                 color: #464646;
                 transition: all .3s ease-in-out;
                 &:hover {
                     background-color: #303133;
                     color: $white-color;
                 }
             }
             &.active {
                 /*ACTIVATED*/
                 @include link-active(#464646);
             }
         }
     }
     /*LIGHT REVERSE/ DARK*/
     &.light-reverse {
         background-color: #464646;
         transition: all .3s ease-in-out;
         li {
             a {
                 &:hover {
                     color: #464646;
                     /*ACTIVATED*/
                 }
             }
             &.active {
                 /*ACTIVATED*/
                 @include link-active(#464646);
             }
         }
     }
     /*DESABLE*/
     .desable {
         background-color: lighten($grey2-color, 20%);
         a {
             color: $dark-light-color!important;
             &:hover {
                 cursor: not-allowed!important;
                 background-color: lighten($grey2-color, 20%);
             }
         }
     }
     /*STATUS*/
     &-fixed {
         width: 100vw;
         position: fixed;
         top: 0;
         left: 0;
     }
 }
 /*TABLETES*/