#body {
    display: flex;
    flex-direction: column;
    //overflow: hidden;
    justify-content: space-between;
    min-height: 100vh;
}

h3 {
    padding: 1rem 0;
}

main nav {
    margin: .5rem 0;
}