.process {
    width: 100%;
    border-radius: 0.2rem;
    margin: .2rem 0;
    background-color: $grey-color;
    overflow: hidden;
    &.default {
        @include process($default-color);
    }
    
    &.primary {
        @include process($primary-color);
    }
    
    &.secondary {
        @include process($secondary-color);
    }
    
    &.success {
        @include process($success-color);
    }
    
    &.warning {
        @include process($warning-color);
    }
    
    &.default {
        @include process($default-color);
    }
    
    &.danger {
        @include process($danger-color);
    }
    &.info {
        @include process($info-color);
    }
}