.home-component-pulsearea {

     .pulse {
          width: 400px;
          height: 70vh;
          position: relative;
          //border: 1px solid black!important;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          & > div {
               border-radius: 100%;
               position: absolute;
               // &:nth-of-type(1) {
               //      border: 2px solid $primary-color;
               //      background-color: $primary-color;
               //      width: 330px;
               //      height: 330px;
               //      left: 50%;
               //      transform: translate(-50%);
               // }

               // &:nth-of-type(2) {
               //      border: 2px solid $secondary-color;
               //      background-color: $secondary-color;
               //      width: 320px;
               //      height: 320px;
               // }

               // &:nth-of-type(3) {
               //      border: 2px solid $danger-color;
               //      background-color: $danger-color;
               //      width: 310px;
               //      height: 310px;
               // }

               &:last-of-type {
                    border: 2px solid $success-color;
                    background-color: $success-color;
                    width: 300px;
                    height: 300px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    color: $white-color;
                    font-size: 1.5rem;
                    font-weight: bold;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                    &:hover {
                         background-color: rgba($color: #000000, $alpha: .5);
                    }
               }
          }
     }
}