.slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    overflow-y: hidden;
    
    background-color: rgba(255,255,255,0.1);   
    cursor: pointer;
    padding: 1rem;
    border: 1px solid white;
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.09);
    transition: all 0.2s ease-in-out;
    transform: scale(0.98);
    max-width: 100%;
    max-height: 450px;

    img {
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
        padding: 0 .2rem;
        object-fit: cover;
    }
    &.active {
        background: rgba(255,255,255,0.3);
        cursor:grabbing;
        transform: scale(.9);
        cursor: -webkit-grabbing;
        transform: scale(1);
    }
}