    @media screen and (min-width:640px) {
        //HOME PAGE
        .home {
            max-width: 100vw;
            background-color: $grey2-color;
            //HEADER
            &-header {
                &-inner {
                    &-left {}
                    &-right {
                        h1 {
                            font-size: 2rem;
                        }
                    }
                }
            }
            &-component {
                &-content {}
                //Asidearea
                &-asidearea {}
                //collection area
                &-collectionarea {}
                //alertarea
                &-alertarea {}
                //formarea
                &-formarea {
                    &-button {}
                    &-input {}
                }
                //cardarea
                &-cardarea {
                    //simple
                    &-simple,
                    &-personalized {
                        &>div {
                            margin-bottom: 0;
                        }
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-gap: 1rem;
                    }
                    //card with photo and text on back
                    &-personalized {
                        grid-template-columns: repeat(2, 1fr);
                        padding: 1rem 0;
                        &>div {
                            &:first-child {
                                grid-column: 1;
                                grid-row: 1;
                            }
                            &:nth-of-type(2) {
                                grid-column: 2/4;
                                grid-row: 1;
                            }
                            &:nth-of-type(3) {
                                grid-column: 1/4;
                                grid-row: 2;
                                margin-bottom: 1rem;
                            }
                            &:nth-of-type(4) {
                                grid-column: 1/4;
                                grid-row: 3;
                            }
                            &:nth-of-type(5) {
                                grid-template-columns: repeat(2, 1fr)!important;
                                grid-column: 1/4;
                                grid-row: 4;
                            }
                            &:nth-of-type(6) {
                                grid-template-columns: repeat(2, 1fr)!important;
                                grid-column: 1/4;
                                grid-row: 5;
                            }
                        }
                        .card {
                            &.horizontal {
                                grid-template-columns: repeat(2, 1fr);
                                img {
                                    border-radius: 0.3rem 0 0 0.3rem !important;
                                }
                            }
                        }
                    }
                }
            }
        }
        //MAIN - CV
        .cv {
            /*HEADER SECTION*/
            &-header {
                &-inner {
                    flex-direction: row;
                    //Autor Side
                    &-autor {
                        //autor title
                        &-name {
                            h1 {
                                font-size: 2.5rem;
                            }
                        }
                    }
                }
            }
            /*CV-NAVABAR*/
            &-navbar-p {
                .cv-navbar-list-p {
                    display: flex; //flex
                }
            }
            //COMPETENCES
            //TODO Possibilité d'optimiser les lignes
            &-competence {
                &-inner {
                    &-group {
                        grid-template-columns: repeat(2, 1fr);
                    }
                }
            }
            //PORTFOLIO
            &-portfolio {
                &-inner {
                    &-group {
                        grid-template-columns: repeat(2, 1fr);
                    }
                }
            }
            //EXPERIENCE
            &-experience {
                &-inner {
                    &-group {
                        grid-template-columns: repeat(2, 1fr);
                        &-item {
                            &-content {
                                p {
                                    &:last-child {
                                        grid-template-columns: repeat(10, 1fr);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            //FORMATIONS
            &-formation {
                &-inner {
                    &-group {
                        grid-template-columns: repeat(2, 1fr);
                    }
                }
            }
            //LOISIRS
            &-loisir {
                &-inner {
                    &-group {
                        grid-template-columns: repeat(3, 1fr);
                    }
                }
            }
        }
    }