/*COLORS VALUES*/

$success-color: #67C23A;
$warning-color: #E6A23C;
$danger-color: #F56C6C;
$info-color: #33B5E5;
//
$primary-color: #4285F4;
$secondary-color: #AA66CC;
$default-color: #2BBBAD;
//
$default-color: #909399;
$dark-color: #303133;
$dark-light-color: #606266;
$dark-light2-color: #909399;
$grey-color: #DCDFE6;
$grey1-color: #E4E7ED;
$grey2-color: #EBEEF5;
$grey3-color: #F2F6FC;
$white-color: #FFFFFF;
$dark-white-color: #F4F4F4;
$navbar-bg-color: rgb(84, 92, 100);

/*WIDTHS VALUES*/

$container-width: 1100px;
$container-fluid-width: 98vw;

/*ASIDE*/

$aside-icones-width:50px;
$aside-hidden-link-width:251px;

/*ALERTS*/


/*NAVBAR*/

$logo-width:70px;
$logo-height:70px;

/*DROPDOWN*/


/*COLLECTIONS*/

$collection-width:200px;

/*BUTTONS*/


/*PAGINATIONS*/


/*FONT-FAMILLY*/


/*JUMBOTRON*/

//todo : Can be changed
$max-width:100%;

/*ASIDE PROFILE*/

$aside-profile-width: 300px;
$aside-profile-bg-height: 120px;
$aside-profile-bg-color: $grey1-color;